{% extends 'flatpages/default.html' %}
{% load tags %}


{% block title %}
News
{% endblock title %}

{% block content %}
<h1>Все новости</h1>

{% if is_not_subscriber %}
<p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a> </p>
{% else %}
<p class="text-center"><a href="{% url 'unsubscribe' category.id %}" class="btn btn-secondary btn-sm">Отписаться</a> </p>
{% endif %}


<hr>
{% if category_news_list %}
<table>
    <tr>
        <td>
            Автор
        </td>
        <td>
            Время новости
        </td>
        <td>
            Тип
        </td>
        <td>
            Категория
        </td>
        <td>
            Заголовок
        </td>
        <td>
            Текст
        </td>
        <td>
            Рейтинг
        </td>
        {% if perms.news.change_news or perms.news.delete_news %}
        <td>
            Управление
        </td>
        {% endif %}
    </tr>
    {% for new in category_news_list %}
    <tr>
        <td>{{ new.author }}</td>
        <td>{{ new.date_time|date:'m d Y'}}
        <td>{{ new.categoryType }}</td>
        <td>
            {% for category in new.category.all %}
            <a href="{% url 'category_list' category.id %}">{{ category }}</a>
            {% endfor %}
        </td>
        <td><a href="{% url 'post_detail' new.id %}">{{ new.title }}</a></td>
        <td>{{ new.text|truncatechars:10 }}</td>
        <td>{{ new.rating }}</td>
        <td>
            {% if perms.news.change_news %}
            <a href="{% url 'update_news' new.id %}">Обновить</a>
            {% endif %}
            {% if perms.news.delete_news %}
            <a href="{% url 'post_delete' new.id %}">Удалить</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>Новостей нет!</h2>
{% endif %}

<!--В page_obj мы имеем доступ к следующим переменным:-->
<!--has_previous — существует ли предыдущая страница;-->
<!--previous_page_number — номер предыдущей страницы;-->
<!--number — номер текущей страницы;-->
<!--has_next — существует ли следующая страница;-->
<!--next_page_number — номер следующей страницы;-->
<!--paginator.num_pages — объект paginator содержит информацию о количестве страниц в переменной num_pages.-->

{% if page_obj.has_previous %}
    <a href="?{% url_replace page=1 %}">1</a>
    {% if page_obj.previous_page_number != 1 %}
        ...
        <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
    {% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
    <a href="?{% url_replace page=page_obj.next_page_number %}"> {{ page_obj.next_page_number }}</a>
    {% if paginator.num_pages != page_obj.next_page_number %}
        ...
        <a href="?{% url_replace page=paginator.num_pages %}"> {{ paginator.num_pages }} </a>
    {% endif %}
{% endif %}



{% endblock content %}