<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %} {% endblock title %}</title>
        {% load static %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">SkillFactory</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/news">На главную</a></li>
                        <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/news/search">Поиск</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">Редактирование постов</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="http://127.0.0.1:8000/news/create">Создать пост</a></li>
                                <li><a class="dropdown-item" href="http://127.0.0.1:8000/news/1/update">Редактировать пост</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="http://127.0.0.1:8000/news/1/delete">Удалить пост</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown1" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">Аккаунт</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown1">
                                <li><a class="dropdown-item" href="http://127.0.0.1:8000/accounts/login/">Войти в аккаунт</a></li>
                                <li><a class="dropdown-item" href="http://127.0.0.1:8000/accounts/logout/">Выйти из аккаунта</a></li>
                                <li><hr class="dropdown-divider" /> </li>
                                <li><a class="dropdown-item" href="http://127.0.0.1:8000/accounts/signup/">Регистрация аккаунта</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/admin">Админ панель</a> </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                {% block content %} {% endblock content %}
            </div>
        </div>
    <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
